<key>UIApplicationSceneManifest</key>
<dict>
	<key>UIApplicationSupportsMultipleScenes</key>
	<false/>
	<key>UISceneConfigurations</key>
	<dict>
		<key>UIWindowSceneSessionRoleApplication</key>
		<array>
			<dict>
				<key>UISceneConfigurationName</key>
				<string>Default Configuration</string>
				<key>UISceneDelegateClassName</key>
				<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
			</dict>
		</array>
	</dict>
</dict>

<key>UISupportedInterfaceOrientations</key>
<array>
	<string>UIInterfaceOrientationPortrait</string>
</array>

<key>UIAppFonts</key>
<array>
	<string>fibberish.ttf</string>
</array>

<key>NSAppTransportSecurity</key>
<dict>
	<key>NSExceptionDomains</key>
	<dict>
		<key>lazygeng.com</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
		</dict>
	</dict>
</dict>

<key>NSCrashReportDurationWakeUpTime</key>
<string>此应用程序收集崩溃报告，以提高应用程序的稳定性</string>

<key>NSUserTrackingUsageDescription</key>
<string>我们希望能跟踪您在应用中的活动，以提供更个性化的体验并改进我们的服务</string>

<key>StoreKit</key>
<dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
</dict>

<key>GOOGLE_APP_ID</key>
<string>1:412096439505:ios:9cd869f4669ac00d0911f0</string>

<key>CFBundleDisplayName</key>
<string>focus pal</string> 